//- filtersettings structure
#outputfilter-control.filter-controls.hidden
    .line
        label Threshold (%)
        input#binarize-threshold-input(type="number" min="0" max="100" step="1")
    .line
        input#binarize-threshold-range-input(type="range" min="0" max="100" step="1")
    .line
        label Scale Values
        input#scale-values-input(type="checkbox")
    .line
        button#outputfilter-reset-button.click-button Default Settings
