//- filtersettings structure
#outputfilter-control.hidden
    .line
        label scale values
        input#scale-values-input(type="checkbox")
    .line
        label binarize threshold (%)
        input#binarize-threshold-input(type="number" min="0" max="100" step="1")
    .line
        button#outputfilter-reset-button.click-button RESET
