// sourceimage styles
#sourceimage-content-frame
    display none

.view-source
    #sourceimage-content-frame
        display block

#sourceimage-canvas
    background-color rgba(255, 0, 0, 0.2)
    width: canvas-size
    height: canvas-size
    @extends .center-absolute-x

#hidden-source-image
    display none
#hidden-source-video
    display none