// sourceimage styles
#sourceimage-content-frame
    display none

.view-source
    #sourceimage-content-frame
        display block

#sourceimage-canvas
    width: canvas-size
    height: canvas-size
    @extends .center-absolute-xy

#hidden-source-image
    display none
#hidden-source-video
    display none
