//- imageselect structure
#imageselect-area.image
    input#imageselect-input(type="file" accept="image/*")

    button#capture-button
        svg
            use(href="#svg-capture-icon")

    button#resume-button
        svg
            use(href="#svg-refresh-icon")
