// imageselect styles
imageselect-icon-size = 40px
imageselect-padding = 10px

#imageselect-area
    background-color color-light-bg
    padding imageselect-padding
    width 100%
    box-sizing: border-box
    display flex
    justify-content: center

    button
        margin 0
        width: imageselect-icon-size
        height: imageselect-icon-size
        border none
        background-color: transparent
        cursor: pointer

    svg
        color white
        width: imageselect-icon-size
        height: imageselect-icon-size


#imageselect-area.cam
    #imageselect-input
        display: none
    #capture-button
        display: block
    #resume-button
        display: none

#imageselect-area.cam-captured
    #imageselect-input
        display: none
    #capture-button
        display: none
    #resume-button
        display: block

#imageselect-area.image
    #imageselect-input
        display: block
    #capture-button
        display: none
    #resume-button
        display: none
