//- postprocessimage structure
#postprocessimage-content-frame
    .image-block
        img#postprocessimage-background
        svg#postprocessimage-result-svg
    include ../postprocesssettingsmodule/postprocesssettings-control.pug
