//- postprocess structure
#postprocesssettings-control.filter-controls.hidden
    .line
        label Minimal Volume (%)
        input#minimal-volume-input(type="number" min="0" max="10000" step="1")
    .line
        input#minimal-volume-range-input(type="range" min="0" max="10000" step="1")
    .line
        button#postprocesssettings-reset-button.click-button Default Settings