//- filtersettings structure
#sourcefilter-control.filter-controls.hidden
    .line
        label Blur (px)
        input#blur-input(type="number" min="0" max="66" step="0.1")
    .line
        input#blur-range-input(type="range" min="0" max="66" step="0.1")
    .line
        label Contrast (%)
        input#contrast-input(type="number" min="0" max="2000" step="1")
    .line
        input#contrast-range-input(type="range" min="0" max="2000" step="1")
    .line
        label Saturation (%)
        input#saturate-input(type="number" min="0" max="2000" step="1")
    .line
        input#saturate-range-input(type="range" min="0" max="2000" step="1")
    .line
        label Invert
        input#invert-input(type="checkbox")
        label Grayscale
        input#grayscale-input(type="checkbox")
    .line
        button#sourcefilter-reset-button.click-button Default Settings
