//- filtersettings structure
#sourcefilter-control.hidden
    .line
        label blur (px)
        input#blur-input(type="number" min="0" max="66" step="0.1")
    .line
        label contrast (%)
        input#contrast-input(type="number" min="0" max="1000" step="1")
    .line
        label saturate (%)
        input#saturate-input(type="number" min="0" max="1000" step="1")
    .line
        label grayscale
        input#grayscale-input(type="checkbox")
    .line
        label invert
        input#invert-input(type="checkbox")
    .line
        button#sourcefilter-reset-button.click-button RESET
