//- menu structure
#menu-bar
    button#view-all-button.click-button
        svg
            use(href="#svg-view-all-icon")
    
    .separator
    
    button#image-select-button.click-button.active
        svg
            use(href="#svg-image-icon")
    
    button#cam-image-button.click-button
        svg
            use(href="#svg-cam-icon")
    
    button#toggle-source-filter-button.click-button
        svg
            use(href="#svg-settings-icon")
    
    .separator
    
    button#output-image-button.click-button
        svg
            use(href="#svg-output-icon")
    
    button#toggle-output-filter-button.click-button
        svg
            use(href="#svg-settings-icon")
    
    .separator
    
    button#post-process-button.click-button
        svg
            use(href="#svg-result-icon")
    
    button#toggle-process-settings-button.click-button
        svg
            use(href="#svg-settings-icon")
