// menu styles
menu-icon-size = 30px
menu-padding = 10px

separator-width = 3px

menu-height = (menu-icon-size + (2 * menu-padding))

#menu-bar
    padding menu-padding
    width: 100%
    position fixed
    top 0
    display flex
    justify-content: space-around
    background-color color-light-bg
    box-sizing: border-box
    
    button
        margin 0
        padding 0
        width: menu-icon-size
        height: menu-icon-size
        border none
        background-color: transparent
        cursor: pointer

    svg
        color alpha(color-dark, 0.4)
        width: menu-icon-size
        height: menu-icon-size
    
    .active
        svg
            color color-dark
        // border-color color-dark

    .separator
        height menu-icon-size
        width separator-width
        background-color: color-dark
        margin 0 7px
