#indexcontent
    include ../../sourceimagemodule/sourceimage-content.pug
    include ../../outputimagemodule/outputimage-content.pug
    include ../../postprocessimagemodule/postprocessimage-content.pug