// outputimage styles
#outputimage-content-frame
    display none

.view-output
    #outputimage-content-frame
        display block

#outputimage-canvas
    width: canvas-size
    height: canvas-size
    @extends .center-absolute-xy
